- provide(:title,"ユーザー一覧")
- provide(:class_text,"edit--user")
- provide(:button_text,"編集する")
%h1 ユーザー一覧
.col-md-10.col-md-offset-1
  .csv_zone
    = form_tag import_users_path, multipart: true do
      = file_field_tag :file , class: "form-csv"
      = submit_tag "CSVファイルをインポート",class: "btn btn-primary btn-csv"
  - @users.each do |user|
    .row
      %ul#users-table
        - unless user.admin?
          %li
            = user.name
            = succeed "|" do
              %br/
            = link_to "削除",user, method: :delete,                       |
              data:{confirm: "削除してもよろしいですか？"}, class: "btn btn-primary" |
          .panel-group
            .panel.panel-default
              .panel-heading
                %button.btn.btn-primary.btn-lg.index-edit-btn{"data-target" => "#collapse#{user.id}", "data-toggle" => "collapse"}
                  編集
              .panel-collapse.collapse{:id => "collapse#{user.id}"}
                .panel-body
                  .row
                    .col-md-12
                      = render 'form',{user: user}
