<% provide(:title,@user.name) %>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-condenced table-bordered"  id="table-attendances">
    <tbody>
      <tr>
        <td>
          <% if current_user?(@user) %>
            <%= link_to "←",user_path(date: @first_day.prev_month), class: "btn btn-primary" %>
          <% end %>
          <%= l(@first_day, format: :middle) %>時間管理表
          <% if current_user?(@user) %>
            <%= link_to "→",user_path(date: @first_day.next_month), class: "btn btn-primary" %>
          <% end %>
        </td>
        <td>
          勤務開始時刻  <%= format_basic_info(@user.designated_work_start_time) %>
          <br>勤務終了時刻 <%= format_basic_info(@user.designated_work_end_time) %></br>
        </td>
        <td colspan="3">基本時間 <%= format_basic_info(@user.basic_work_time) %></td>
        <td>初日<%= l(@first_day.beginning_of_month, format: :short) %></td>
      </tr>

      <tr>
        <td>所属 <%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
        <td>氏名 <%= @user.name %></td>
        <td>コード</td>
        <td><%= @user.uid %></td>
        <td>出勤日数 : <%= @worked_sum %>日</td>
        <td>締め <%= l(@first_day.end_of_month, format: :short) %></td>
      </tr>
    </tbody>
  </table>

  <% if current_user?(@user) %>
    <%if current_user.superior? %>

      <% attendance =  Attendance.where(instructor: @user, change: false) %>
      <% if attendance.empty? || @approval_numbers == 0 %>
        <p>【所属長承認申請のお知らせ】</p>
      <% end %>
      <% attendance.each do |at| %>
        <% if at.instructor.to_i == @user.id && at.change == false && @approval_numbers > 0 %>
          <p><%= link_to "【所属長承認申請のお知らせ】",notice_approval_user_attendance_path(user_id: at.user_id, id: at.id),class: "notice", remote: "true", style: "color:red" %>
          <span class="notice-count"><%= @approval_numbers %>件の申請があります</span></p>
          <% break %>
        <% end %>
      <% end %>

      <% attendance =  Attendance.where(one_month_instructor: @user, one_month_change: false) %>
      <% if attendance.empty? %>
        <p>【勤怠変更申請のお知らせ】</p>
      <% end %>
      <% attendance.each do |at| %>
        <% if at.one_month_instructor.to_i == @user.id && at.one_month_change == false %>
          <p><%= link_to "【勤怠変更申請のお知らせ】",notice_one_month_user_attendance_path(user_id: at.user_id, id: at.id),class: "notice", remote: "true", style: "color:red" %>
          <span class="notice-count"><%= @one_month_numbers %>件の申請があります</span></p>
          <% break %>
        <% end %>
      <% end %>

      <% attendance =  Attendance.where(overtime_instructor: @user, overtime_change: false) %>
      <% if attendance.empty? %>
        <p>【残業申請のお知らせ】</p>
      <% end %>
      <% attendance.each do |at| %>
        <% if at.overtime_instructor.to_i == @user.id && at.overtime_change == false %>
          <p><%= link_to "【残業申請のお知らせ】",notice_overtime_user_attendance_path(user_id: at.user_id, id: at.id),class: "notice", remote: "true", style: "color:red" %>
          <span class="notice-count"><%= @overtime_numbers %>件の申請があります</span></p>
          <% break %>
        <% end %>
      <% end %>

    <% end %>
    <div>
        <%= link_to "勤怠を編集",attendances_edit_one_month_user_path(date: @first_day),class:"btn btn-primary" %>
        <%= link_to "CVS出力",user_path(@user, format: :csv),class: "btn btn-primary" %>
        <br>
        <%= link_to "勤怠修正ログ(承認済)",work_log_user_attendance_path(user_id:@user,id:@attendances),class:"btn btn-primary" %>
    </div>

  <% end %>
  <table class="table table-condenced table-bordered table-hover table-striped" id="table-attendances">
    <thead>
      <tr>
        <td rowspan="2"></td>
        <td rowspan="3">日付</td>
        <td rowspan="3">曜日</td>
        <td colspan="12">【実績】</td>
        <td colspan="3">所定外勤務</td>
      </tr>
      <tr>

        <td colspan="3">出社</td>
        <td colspan="3">退社</td>
        <td colspan="2" rowspan="2">在社時間</td>
        <td colspan="2" rowspan="2">備考</td>
        <td colspan="2">終了予定時刻</td>
        <td>時間外時間</td>
        <td>業務処理内容</td>
        <td>指示者確認㊞</td>
      </tr>

      <tr>
        <td>残業申告</td>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>

      <% @attendances.each do |day| %>
        <tr>

          <td>
            <% if current_user?(@user) %>
              <%= link_to "残業申請",edit_overtime_user_attendance_path(user_id: @user.id, id: day.id), remote: true, class: "btn btn-primary" %>
            <% end %>
          </td>


          <td><%= l(day.worked_on, format: :short) %></td>

          <td>
              <% if day.worked_on.wday == 6 %>
                <font color="blue">土</font>
              <% elsif day.worked_on.wday == 0 %>
                <font color="red">日</font>
              <% else %>
                <%= $days_of_the_week[day.worked_on.wday] %>
              <% end %>
          </td>

          <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
          <td><%= l(day.started_at.floor_to(15.minutes), format: :min) if day.started_at.present? %></td>

          <td>
            <% if current_user?(@user)%>
            <% if (Date.current == day.worked_on) && day.started_at.nil? %>
              <%= link_to "出社",user_attendance_path(@user, day),method: :patch,class: "btn btn-primary btn-attendance" %>
            <% end %>
            <% end %>
          </td>

          <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
          <td><%= l(day.finished_at.floor_to(15.minutes), format: :min) if day.finished_at.present? %></td>

          <td>
            <% if current_user?(@user) %>
            <% if (Date.current == day.worked_on) && day.finished_at.nil? && day.started_at.present? %>
              <%= link_to "退社",user_attendance_path(@user, day),method: :patch,class: "btn btn-primary btn-attendance" %>
            <% end %>
            <% end %>
          </td>

          <td colspan="2">
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at,day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td colspan="2"><%= day.note %></td>
          <td><%= l(day.end_estimated_time, format: :hour) if day.end_estimated_time.present? %></td>
          <td><%= l(day.end_estimated_time, format: :min) if day.end_estimated_time.present? %></td>
          <td>
            <% if day.end_estimated_time.present?%>
              <% if day.overtime_tomorrow == false %>
                <%= over_times(day.end_estimated_time.time, @user.designated_work_end_time.time) %>
              <% else %>
                <%= next_day_over_times(day.end_estimated_time.time, @user.designated_work_end_time.time) %>
            <% end %>
            <% end %>

          </td>
          <td><%= day.outline %></td>

          <td>
            <% if day.one_month_instructor.present? && day.one_month_approval.nil? %>
              <p>勤怠変更申請</p>
              <p><%= User.where(id: day.one_month_instructor.to_i)[0][:name] %>に申請中 </p>
            <% elsif day.one_month_approval.present? %>
              <p>勤怠変更申請</p>
              <p><%= day.one_month_approval %></p>
            <% end %>

            <% if day.overtime_instructor.present? && day.overtime_approval.nil? %>
              <p>残業申請</p>
              <p><%= User.where(id: day.overtime_instructor.to_i)[0][:name] %>に申請中 </p>
            <% elsif day.overtime_approval.present? %>
              <p>残業申請</p>
              <p><%= day.overtime_approval %></p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>

    <tfooter>
        <tr>
          <td colspan="3">在社時間合計</td>
          <td colspan="8">
            <%= format("%.2f",@total_working_times.to_f) %>
          </td>
          <td colspan="3">総合勤務時間</td>
          <td colspan="3"><%= format_basic_info(@user.basic_work_time).to_f*@worked_sum %></td>
          <td rowspan="2">
            <% if current_user?(@user) %>
            <% @attendances.each do |at| %>
              <%= form_with(model: at, url: update_approval_user_attendance_path(user_id: @user.id,date: @first_day), local: true, method: :patch) do |f| %>
                  <br><%= f.collection_select :instructor, User.where(superior: true).where.not(id: @user.id), :id, :name, {include_blank: true}, required: true, prompt: true, class: "form-control" %>
                  <br><%= f.submit "申請",class: "btn btn-primary btn-block btn-attendance" %>
              <% end %>
              <% if at.approval.present? && at.approval != "申請中" %>
                  <p>所属長承認　<%= at.approval %></p>
                  <% break %>
              <% elsif (at.instructor.present?  && at.approval.nil?) || at.approval == "申請中" %>
                  <p>所属長承認</p>
                  <p><%=User.where(id: at.instructor.to_i)[0][:name] %>に申請中</p>
                  <% break %>
                <% elsif at.instructor.nil? %>
                  <p>所属長承認　未</p>
                <% break %>
                <% end %>
                <% end %>
              <% end %>
          </td>
        </tr>

    </tfooter>
  </table>
</div>

<div id="edit-overtime" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="notice-approval" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id= "notice-one-month" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="notice-overtime" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
