- provide(:title,@user.name)
.col-md-10.col-md-offset-1
  %table#table-attendances.table.table-condenced.table-bordered
    %tbody
      %tr
        %td
          - if current_user?(@user)
            = link_to "←",user_path(date: @first_day.prev_month), class: "btn btn-primary"
          = l(@first_day, format: :middle)
          時間管理表
          - if current_user?(@user)
            = link_to "→",user_path(date: @first_day.next_month), class: "btn btn-primary"
        %td
          勤務開始時刻  #{format_basic_info(@user.designated_work_start_time)}
          = succeed "\u52E4\u52D9\u7D42\u4E86\u6642\u523B" do
            %br/
          = format_basic_info(@user.designated_work_end_time)
        %td{:colspan => "3"}
          基本時間 #{format_basic_info(@user.basic_work_time)}
        %td
          初日#{l(@first_day.beginning_of_month, format: :short)}
      %tr
        %td
          所属 #{@user.affiliation.present? ? @user.affiliation : "未所属"}
        %td
          氏名 #{@user.name}
        %td コード
        %td= @user.uid
        %td
          出勤日数 : #{@worked_sum}日
        %td
          締め #{l(@first_day.end_of_month, format: :short)}
  - if current_user?(@user)
    - if current_user.superior?
      - attendance =  Attendance.where(instructor: @user, change: false)
      - if attendance.empty? || @approval_numbers == 0
        %p 【所属長承認申請のお知らせ】
      - attendance.each do |at|
        - if at.instructor.to_i == @user.id && at.change == false && @approval_numbers > 0
          %p
            = link_to "【所属長承認申請のお知らせ】",notice_approval_user_attendance_path(user_id: at.user_id, id: at.id),class: "notice", remote: "true", style: "color:red"
            %span.notice-count
              = @approval_numbers
              件の申請があります
          - break
      - attendance =  Attendance.where(one_month_instructor: @user, one_month_change: false)
      - if attendance.empty?
        %p 【勤怠変更申請のお知らせ】
      - attendance.each do |at|
        - if at.one_month_instructor.to_i == @user.id && at.one_month_change == false
          %p
            = link_to "【勤怠変更申請のお知らせ】",notice_one_month_user_attendance_path(user_id: at.user_id, id: at.id),class: "notice", remote: "true", style: "color:red"
            %span.notice-count
              = @one_month_numbers
              件の申請があります
          - break
      - attendance =  Attendance.where(overtime_instructor: @user, overtime_change: false)
      - if attendance.empty?
        %p 【残業申請のお知らせ】
      - attendance.each do |at|
        - if at.overtime_instructor.to_i == @user.id && at.overtime_change == false
          %p
            = link_to "【残業申請のお知らせ】",notice_overtime_user_attendance_path(user_id: at.user_id, id: at.id),class: "notice", remote: "true", style: "color:red"
            %span.notice-count
              = @overtime_numbers
              件の申請があります
          - break
    %div
      = link_to "勤怠を編集",attendances_edit_one_month_user_path(date: @first_day),class:"btn btn-primary"
      = link_to "CVS出力",user_path(@user, format: :csv),class: "btn btn-primary"
      %br/
      = link_to "勤怠修正ログ(承認済)",class: "btn btn-primary"
  %table#table-attendances.table.table-condenced.table-bordered.table-hover.table-striped
    %thead
      %tr
        %td{:rowspan => "2"}
        %td{:rowspan => "3"} 日付
        %td{:rowspan => "3"} 曜日
        %td{:colspan => "12"} 【実績】
        %td{:colspan => "3"} 所定外勤務
      %tr
        %td{:colspan => "3"} 出社
        %td{:colspan => "3"} 退社
        %td{:colspan => "2", :rowspan => "2"} 在社時間
        %td{:colspan => "2", :rowspan => "2"} 備考
        %td{:colspan => "2"} 終了予定時刻
        %td 時間外時間
        %td 業務処理内容
        %td 指示者確認㊞
      %tr
        %td 残業申告
        %td 時
        %td 分
        %td
        %td 時
        %td 分
        %td
        %td 時
        %td 分
        %td
        %td
        %td
    %tbody
      - @attendances.each do |day|
        %tr
          %td
            - if current_user?(@user)
              = link_to "残業申請",edit_overtime_user_attendance_path(user_id: @user.id, id: day.id), remote: true, class: "btn btn-primary"
          %td= l(day.worked_on, format: :short)
          %td
            - if day.worked_on.wday == 6
              %font{:color => "blue"} 土
            - elsif day.worked_on.wday == 0
              %font{:color => "red"} 日
            - else
              = $days_of_the_week[day.worked_on.wday]
          %td= l(day.started_at, format: :hour) if day.started_at.present?
          %td= l(day.started_at.floor_to(15.minutes), format: :min) if day.started_at.present?
          %td
            - if current_user?(@user)
              - if (Date.current == day.worked_on) && day.started_at.nil?
                = link_to "出社",user_attendance_path(@user, day),method: :patch,class: "btn btn-primary btn-attendance"
          %td= l(day.finished_at, format: :hour) if day.finished_at.present?
          %td= l(day.finished_at.floor_to(15.minutes), format: :min) if day.finished_at.present?
          %td
            - if current_user?(@user)
              - if (Date.current == day.worked_on) && day.finished_at.nil? && day.started_at.present?
                = link_to "退社",user_attendance_path(@user, day),method: :patch,class: "btn btn-primary btn-attendance"
          %td{:colspan => "2"}
            - if day.started_at.present? && day.finished_at.present?
              = str_times = working_times(day.started_at,day.finished_at)
              - @total_working_times = @total_working_times.to_f + str_times.to_f
          %td{:colspan => "2"}= day.note
          %td= l(day.end_estimated_time, format: :hour) if day.end_estimated_time.present?
          %td= l(day.end_estimated_time, format: :min) if day.end_estimated_time.present?
          %td
            - if day.end_estimated_time.present?
              - if day.overtime_tomorrow == false
                = over_times(day.end_estimated_time.time, @user.designated_work_end_time.time)
              - else
                = next_day_over_times(day.end_estimated_time.time, @user.designated_work_end_time.time)
          %td= day.outline
          %td
            - if day.one_month_instructor.present? && day.one_month_approval.nil?
              %p 勤怠変更申請
              %p
                = User.where(id: day.one_month_instructor.to_i)[0][:name]
                に申請中
            - elsif day.one_month_approval.present?
              %p 勤怠変更申請
              %p= day.one_month_approval
            - if day.overtime_instructor.present? && day.overtime_approval.nil?
              %p 残業申請
              %p
                = User.where(id: day.overtime_instructor.to_i)[0][:name]
                に申請中
            - elsif day.overtime_approval.present?
              %p 残業申請
              %p= day.overtime_approval
    %tfooter
      = form_with(model: @attendances, url: update_approval_user_attendance_path(user_id: @user.id, date: @first_day), local: true, method: :patch) do |f|
        %tr
          %td{:colspan => "3"} 在社時間合計
          %td{:colspan => "8"}
            = format("%.2f",@total_working_times.to_f)
          %td{:colspan => "3"} 総合勤務時間
          %td{:colspan => "3"}= format_basic_info(@user.basic_work_time).to_f*@worked_sum
          %td{:rowspan => "2"}
            - if current_user?(@user)
              - @attendances.each do |at|
                - if at.instructor.nil?
                  %p 所属長承認　未
                  - break
                - elsif at.approval.present? && at.approval != "申請中"
                  %p
                    所属長承認　#{at.approval}
                  - break
                - elsif (at.instructor.present?  && at.approval.nil?) ||  at.approval == "申請中"
                  %p 所属長承認
                  %p
                    = User.where(id: at.instructor.to_i)[0][:name]
                    に申請中
                  - break
              %br/
              %br/
              = f.submit "申請",class: "btn btn-primary btn-block btn-attendance"
#edit-overtime.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
#notice-approval.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
#notice-one-month.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
#notice-overtime.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
