- provide(:class_text, 'base-edit')
- provide(:button_text, '更新')
.modal-dialog.modal-lg.modal-dialog-center
  .modal-content
    .modal-header
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %h1.modal-title 拠点情報修正
    .modal-body
      .row
        .col-md-6.col-md-offset-3
          = form_with(model: @base, url: basis_path(@base), local: true, method: :patch) do |f|
            = render 'shared/base_error_messages',object: @base
            = f.label :base_number,"拠点番号",class: "label-#{yield(:class_text)}"
            = f.number_field :base_number,class:"form-control"
            = f.label :name,"拠点名",class: "label-#{yield(:class_text)}"
            = f.text_field :name,class:"form-control"
            = f.label :bases_status,"勤怠種類",class: "label-#{yield(:class_text)}"
            = f.text_field :bases_status,class:"form-control"
            .center
              = f.submit yield(:button_text),class:"btn btn-primary btn-#{yield(:class_text)}"
              %button{:class => "btn btn-default btn-#{yield(:class_text)}", "data-dismiss" => "modal", :type => "button"}
                キャンセル
