- provide(:title,"拠点一覧")
- provide(:class_text,"base-new")
- provide(:button_text,"追加")
%h1 拠点一覧
.col-md-10.col-md-offset-1
  %table#bases-table.table.table-condenced.table-bordered.table-striped
    %thead
      %tr
        %td
        %td
        %td 拠点番号
        %td 拠点名
        %td 勤怠種類
    %tbody
      - @bases.each do |base|
        %tr
          %td= link_to "修正",edit_basis_path(base), remote: true, class:"btn btn-primary"
          %td= link_to "削除",base,method: :delete,                      |
              data:{confirm: "削除してもよろしいですか？"},class:"btn btn-primary" |
          %td= base.base_number
          %td= base.name
          %td= base.bases_status
  %table
    %tbody
      %tr
        .panel-group
          .panel.panel-default
            .panel-heading
              %button.btn.btn-primary.btn-lg{"data-toggle" => "collapse", :href => "#collapse1"}
                拠点情報追加
            #collapse1.panel-collapse.collapse
              .panel-body
                = render 'form'
#edit.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
