<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
        <h1 class="modal-title">【残業申請】</h1>
    </div>
    <div class="modal-body">
      <table class="table table-condenced table-bordered table-striped" id="table-overtime">
        <thead>
          <tr>
            <td>日付</td>
            <td>曜日</td>
            <td>終了予定時刻</td>
            <td>翌日</td>
            <td>業務処理内容</td>
            <td>支持者確認㊞</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <% @users.each do |user| %>    
              <% attendances = Attendance.where(user_id: user.id) %>
                <% attendances.each do |day| %>
                <%= form_with(model: user, url: update_overtime_user_attendance_path(user, day), local: true, method: :patch) do |f| %>
                  <td><%= l(@attendances.worked_on, format: :short) %></td>
                  <td>
                    <% if day.worked_on.wday == 6 %>
                      <font color="blue">土</font>
                    <% elsif day.worked_on.wday == 0 %>
                      <font color="red">日</font>
                    <% else %>
                      <%= $days_of_the_week[day.worked_on.wday] %>
                    <% end %>
                    
                  </td>  
              
                  <%= f.fields_for "attendances[]", day do |attendance| %>  
                    <td><%= attendance.time_field  :end_estimated_time,class: "form-control" %></td>
                    <td><%= attendance.check_box :next_day %></td>
                    <td><%= attendance.text_field :outline, class: "form-control" %></td>
                    <td><%= attendance.collection_select :supporter,User.where(superior: true), :id, :name, {include_blank: true}, prompt: true, class: "form-control" %></td>
              </tr>
            <% end %>
            <% end %>
            <% end %>
              </tbody>
            </table>
          </div>
          <div class="modal-footer center">
            
             
             
            <%= f.submit "変更を送信する",class:"btn btn-primary btn-overtime" %>
            <button type="button" class="btn btn-default btn-overtime" data-dismiss="modal">
              キャンセル
            </button>
            
            <% end %>
          </div>
          
        </div>
      </div>
    
