.modal-dialog.modal-lg.modal-dialog-center
  .modal-content
    .modal-header
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %h1.modal-title 【残業申請】
    .modal-body
      = form_with(model: @attendance, url: update_overtime_user_attendance_path(date: @first_day), local: true, method: :patch) do |f|
        %table#table-overtime.table.table-condenced.table-bordered.table-striped
          %thead
            %tr
              %td 日付
              %td 曜日
              %td 終了予定時刻
              %td 翌日
              %td 業務処理内容
              %td 支持者確認㊞
          %tbody
            %tr
              %td= l(@attendance.worked_on, format: :short)
              %td
                - if @attendance.worked_on.wday == 6
                  %font{:color => "blue"} 土
                - elsif @attendance.worked_on.wday == 0
                  %font{:color => "red"} 日
                - else
                  = $days_of_the_week[@attendance.worked_on.wday]
              %td= f.time_field  :end_estimated_time,required: true,class: "form-control"
              %td= f.check_box :overtime_tomorrow
              %td= f.text_field :outline, class: "form-control"
              %td= f.collection_select :overtime_instructor,User.where(superior: true), :id, :name, {include_blank: true}, prompt: true,required: true, class: "form-control"
        .center
          = f.submit "変更を送信する",class:"btn btn-primary btn-overtime"
          %button.btn.btn-default.btn-overtime{"data-dismiss" => "modal", :type => "button"}
            キャンセル
