<div id="edit-overtime" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">【残業申請】</h4>
     </div>
    
       <div class="modal-body">
         <%= form_with(model: @user,local:true,url: attendances_update_overtime_user_path(date: @first_day), method: :patch) do |f| %>
         <%
          @first_day = params[:date].nil? ? 
    Date.current.beginning_of_month : params[:date].to_date
    @last_day = @first_day.end_of_month
    one_month = [*@first_day..@last_day]
    
    @attendances = @user.attendances.where(worked_on: @first_day..@last_day).order(:worked_on)
         %>
          <% @attendances.each do |day| %>
            <table class="table table-condenced table-bordered table-striped" id="table-overtime">
              <thead>
                <tr>
                  <td>日付</td>
                  <td>曜日</td>
                  <td><%= f.label :end_estimated_time,class: "label-overtime" %></td>
                  <td><%= f.label :next_day,class: "label-overtime" %></td>
                  <td><%= f.label :outline,class: "label-overtime" %></td>
                  <td><%= f.label :supporter,class: "label-overtime" %>確認㊞</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= l(day.worked_on, format: :short ) %></td>
                  <td>
                    <% if day.worked_on.wday == 6 %>
                      <font color="bule">土</font>
                    <% elsif day.worked_on == 0 %>
                      <font class="red">日</font>
                    <% else %>
                      <%= $days_of_the_week[day.worked_on.wday] %>
                    <% end %>  
                  </td>
                  <td><%= f.time_field  :end_estimated_time,class: "form-control" %></td>
                  <td><%= f.check_box :next_day %></td>
                  <td><%= f.text_field :outline, class: "form-control" %></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        
      </div>
      <div class="modal-footer center">
        <%= f.submit "変更を送信する",class:"btn btn-primary btn-overtime" %>
        <button type="button" class="btn btn-default btn-overtime" data-dismiss="modal">
          キャンセル
        </button>
      </div>
    </div>
  </div>
<% end %>
            