.modal-dialog.modal-lg.modal-dialog-center
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %h1.modal-title
        【 #{@user.name}からの一か月分の勤怠申請】
    .modal-body
      = form_with(model: @attendance, url: update_notice_approval_user_attendance_path(date: @first_day),local: true,method: :patch) do |f|
        %table#modal-teble.table.table-condenced.table-bordered.table-striped
          %thead
            %tr
              %td 月
              %td 指示者確認㊞
              %td 変更
              %td 勤怠を確認する
          %tbody
            %tr
              %td
                = l(@attendance.worked_on,format: :month)
                月
              %td= f.select :approval, ["なし","申請中","承認","否認"], {include_blank: true}, prompt: true, class: "form-control"
              %td= f.check_box :change
              %td= link_to "確認", user_path(@user), class: "btn btn-primary"
        .center
          = f.submit "変更を送信する",class: "btn btn-primary"
