<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">【<%= @user.name %>からの勤怠変更申請】</h1>
    </div>
    <div class=modal-body>
      <%= form_with(model: @user, local:true) do |f| %>
      <table class="table table-condenced table-bordered table-striped" id="modal-teble">
        <thead>
          <tr>
            <td rowspan="3">日付</td>
            <td rowspan="3">曜日</td>
            <td colspan="4">変更前</td>
            <td colspan="4">変更後</td>
            <td rowspan="3">備考</td>
            <td rowspan="3">支持者確認㊞</td>
            <td rowspan="3">変更</td>
            <td rowspan="3">勤怠を確認する</td>
          </tr>
          <tr>
            <td colspan="2">出社</td>
            <td colspan="2">退社</td>
            <td colspan="2">出社</td>
            <td colspan="2">退社</td>
            
          </tr>
          <tr>
            <td>時</td>
            <td>分</td>
            <td>時</td>
            <td>分</td>
            <td>時</td>
            <td>分</td>
            <td>時</td>
            <td>分</td>
          </tr>
        </thead>
        <tbody>
          <td><%= l( @attendance.worked_on, format: :short) %></td>
          <td>
            <% if @attendance.worked_on.wday == 6 %>
                <font color="blue">土</font>
              <% elsif @attendance.worked_on.wday == 0 %>
                <font color="red">日</font>
              <% else %>
                <%= $days_of_the_week[@attendance.worked_on.wday] %>
              <% end %>
          </td>
          <% if @attendance.started_at_changed? && @attendance.finished_at_changed? %>
            <td><%= l(@attendance.started_at_was, format: :hour) %></td>
            <td><%= l(@attendance.started_at_was, format: :min) %></td>
            <td><%= l(@attendance.finished_at_was, format: :hour) %></td>
            <td><%= l(@attendance.finished_at_was, format: :min) %></td>
          <% else %>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          <% end %>
          <td><%= l(@attendance.started_at, format: :hour) %></td>
          <td><%= l(@attendance.started_at, format: :min) %></td>
          <td><%= l(@attendance.finished_at, format: :hour) %></td>
          <td><%= l(@attendance.finished_at, format: :min) %></td>
          <td><%= @attendance.note %></td>
          <td><%= f.select :one_month_approval, ["なし","申請中","承認","否認"], {include_blank: true}, prompt: true, class: "form-control"%></td>
          <td><%= f.check_box :one_month_change %></td>
          <td><%= link_to "確認",user_path(@user), class: "btn btn-primary" %></td>
        </tbody>
      </table>
    </div>
    <div class=modal-footer>
      <div class="center">
        <%= f.submit "変更を送信する",class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>