.modal-dialog.modal-lg.modal-dialog-center
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %h1.modal-title
        【#{@user.name}からの残業申請】
    .modal-body
      = form_with(model: @attendance, url: update_notice_overtime_user_attendance_path(date: @first_day), local: true, method: :patch) do |f|
        %table#modal-teble.table.table-condenced.table-bordered.table-striped
          %thead
            %tr
              %td 日付
              %td 曜日
              %td 終了予定時刻
              %td 指定勤務終了時間
              %td 時間外時間
              %td 業務処理内容
              %td 支持者確認㊞
              %td 変更
              %td 勤怠を確認
          %tbody
            %tr
              %td= l(@attendance.worked_on,format: :short)
              %td
                - if @attendance.worked_on.wday == 6
                  %font{:color => "blue"} 土
                - elsif @attendance.worked_on.wday == 0
                  %font{:color => "red"} 日
                - else
                  = $days_of_the_week[@attendance.worked_on.wday]
              %td= l(@attendance.end_estimated_time,format: :time)
              %td= l(@attendance.designated_end_work_time,format: :time)
              %td
                - if @attendance.overtime_tomorrow == false
                  = over_times(@attendance.end_estimated_time, @attendance.designated_end_work_time)
                - else
                  = next_day_over_times(@attendance.end_estimated_time, @attendance.designated_end_work_time)
              %td= @attendance.outline
              %td= f.select :overtime_approval, ["なし","申請中","承認","否認"], {include_blank: true}, prompt: true, class: "form-control"
              %td= f.check_box :overtime_change
              %td= link_to "確認", user_path(@user), class: "btn btn-primary"
        .center
          = f.submit "変更を送信する",class:"btn btn-primary"
