<% provide(:title,"勤怠修正ログ(承認済み)") %>
<h1>勤怠修正ログ(承認済み)</h1>
<div>
  <button class="btn btn-default" type="button" id="reset">リセット</button>
</div>
<%= form_with(model: @attendances,url: work_log_user_attendance_path,method: :get,local: true) do |f| %>
<div class="input-group" id="year">
  <span class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle"
      data-toggle="dropdown">
      年
      <span class="caret"></span>
    </button> 
    <ul class="dropdown-menu" role="menu">
      <% @year.reverse_each do |year| %>
        <li value="<%= year %>">
          <a href="#"><%= year %></a>
        </li>
      <% end %>
    </ul>
  </span>
  <div class="search-year">
    <input type="text" class="form-control" placeholder="<%= Date.current.year %>" readonly>
  </div>
</div>
<p></p>

<div class="input-group" id="month">
  <select name="month" class="month-form form-control" placeholder="月">
    <% @month.each do |month| %>
      <option id=<%= month %>>
        <%= month %>  
      </option>
    <% end %>  
  </select>
  <input class="form-control" >
  </div>
<% end %>
<div class="col-md-12">
  <table class= "table table-resposible table-condenced table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>日付</th>
        <th>変更前出社時間</th>
        <th>変更前退社時間</th>
        <th>変更後出社時間</th>
        <th>変更後退社時間</th>
        <th>承認者</th>
        <th>承認日</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <% @attendance.each do |attendance| %>
    <% if attendance.approval.present? %>
      <td><%= l(attendance.worked_on,format: :short) %></td>
      <% if attendance.started_at_previous_change.present? && attendance.finished_at_previous_change.present? %>
        <td><%= l(attendance.started_at_previous_change,format: :time) %></td>
        <td><%= l(attendance.finished_at_previous_change,format: :time) %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
      <% if attendance.approval.present? %>
        <td><%= l(attendance.started_at,format: :time) %></td>
        <td><%= l(attendance.finished_at,format: :time) %></td>
      <% else %>
        <td></td>
        <td></td>
      </tr>
        <% end %>
      <td><%= attendance.approval %></td>
      <td><%= attendance.approval %></td>
    </tbody>
    <% else %>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
    
  </table>
</div>
<script>
  $(function(){
  $('#year').change(function(){
    var val = $(this).val();
    $('p').text(val);
  });
  
});
</script>