<% provide(:title,"勤怠ログ") %>
<h1>勤怠ログ</h1>

<div class="col-md-10 col-md-offset-1">  
  <table class="table table-condenced table-bordered table-striped work-log-table">
    <thead>
      <input class="btn btn-default" type="reset"  value="リセット" >
        <tr>
          <td>
            <div class="input-group" id="year">
              <%= form_with(url: attendances_work_log_user_path(@user,@attendances),method: :get,local: true) do |f| %>
                <%= f.select :worked_on %>
                <%= f.submit 'Search'%><%= link_to 'Clear', attendances_work_log_user_path(@user,@attendances)%>
              <% end %>
            
             
            </div>
            <script>
              
            </script>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-group" id="month">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown">
                    月
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="dropdown-menu">
                  <% @month.each do |month| %>
                    <li id = "<%= month %>",value="<%= month %>"><a href="#"><%= month %></a></li>
                  <% end %>
                </ul>
              </span>
              <% @attendances.each do |attendance| %>
                <input type="text" placeholder="<%= attendance.worked_on.month %>",selected = "<%= attendance.worked_on.month %>", class="form-control" readonly >
              <% break %>
              <% end %>
            </div>
          </td>
        </tr>
    </theaed>
  </table>
</div>
      
<div class="col-md-10 col-md-offset-1 table-responsive">
  <table class="table table-condenced table-bordered table-striped">
    <tbody>
      <tr>
        <td>日付</td>
        <td>変更前出社時間</td>
        <td>変更前退社時間</td>
        <td>変更後出社時間</td>
        <td>変更後退社時間</td>
        <td>指示者</td>
        <td>承認日</td>
      </tr>
    </tbody>
  </table>
</div>