<% provide(:title,"勤怠ログ") %>
<h1>勤怠ログ</h1>

<div class="col-md-10 col-md-offset-1">  
  <table class="table table-condenced table-bordered table-striped work-log-table">
    <thead>
      <input class="btn btn-default" type="reset"  value="リセット" >
        <tr>
          <td>
            <div class="input-group" id="year">
              
              <%= search_form_for @month, url: attendances_work_log_users_path,method: :post do |f| %>
                <%= f.select :sorts ,[["#{Date.current.year}","#{Date.current.year}"],
                  ["#{Date.current.prev_year.year}","#{Date.current.prev_year.year}"],
                  ["#{Date.current.prev_year(2).year}","#{Date.current.prev_year(2).year}"]],placeholder: "年",class: "form-control" %>
                  
                  
              <% end %>
              
              
            </div>
            <script>
              
            </script>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-group" id="month">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown">
                    月
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="dropdown-menu">
                  <% @month.each do |month| %>
                    <li id = "<%= month %>",value="<%= month %>"><a href="#"><%= month %></a></li>
                  <% end %>
                </ul>
              </span>
              <% @attendance.each do |attendance| %>
                <input type="text" placeholder="<%= attendance.worked_on.month %>",selected = "<%= attendance.worked_on.month %>", class="form-control" readonly >
              <% break %>
              <% end %>
            </div>
          </td>
        </tr>
    </theaed>
  </table>
</div>
     
<div class="col-md-10 col-md-offset-1 table-responsive">
  <table class="table table-condenced table-bordered table-striped">
    <tbody>
      <tr>
        <td>日付</td>
        <td>変更前出社時間</td>
        <td>変更前退社時間</td>
        <td>変更後出社時間</td>
        <td>変更後退社時間</td>
        <td>指示者</td>
        <td>承認日</td>
      </tr>
    <% @attendance.each do |attendance| %>       
      <% if attendance.one_month_approval.present? %>
      <tr>
        <td><%= l(attendance.worked_on, format: :short)%></td>
        <td><%= l(attendance.started_at_was, format: :time) %></td>
        <td><%= l(attendance.finished_at_was, format: :time) %></td>
        <td><%= l(attendance.started_at, format: :time) %></td>
        <td><%= l(attendance.finished_at, format: :time) %></td>
        <td></td>
        <td></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
