%body
  %header.nav.navbar-fixed-top.navbar-inverse
    .container
      = link_to "勤怠管理システム" ,root_path ,id: "logo"
      - if logged_in?
        - if current_user.admin?
          .admin-font 管理者画面
        - elsif current_user.superior?
          .superior-font 上長画面
        - else
          .users-font 一般ユーザー画面
      .navbar-header
        %button.navbar-toggle{"data-target" => "#gnavi", "data-toggle" => "collapse", :tyoe => "button"}
          %span.sr-only メニュー
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      %nav#gnavi.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          - if logged_in?
            %li= link_to "トップへ", root_path
            - if  current_user.admin?
              %li= link_to "ユーザー一覧",users_path
              %li= link_to "出勤社員一覧", working_users_path
              %li= link_to "拠点情報の修正",bases_path
              %li= link_to "基本情報の修正", edit_basic_info_user_path(current_user)
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                アカウント
                %b.caret
              %ul.dropdown-menu
                - unless current_user.admin
                  %li= link_to "ユーザー情報", current_user
                - else
                  %li= link_to "管理者情報編集", edit_user_path(current_user)
                %li.divider
                %li= link_to "ログアウト", logout_path, method: :delete
          - else
            %li= link_to "トップへ",root_path
            %li= link_to "ログイン", login_path
